##
# AWS elasticbeanstalk example to change timezone to New York timezone.
#
# This example changes the system time (clock and localtime)
# and also changes the HTTPD webserver configuration.
##

container_commands:
  00_change_timezone_of_clock:
    command: sudo sed -i 's/^ZONE=".*"/ZONE="America\/New_York"'
  01_change_timezone_of_httpd:
    command: sed -i '/DATE_TIMEZONE/ s/UTC/America\/New_York/' /etc/httpd/conf.d/aws_env.conf
commands:
  00_change_timezone_of_localtime:
    command: sudo ln -sf /usr/share/zoneinfo/America/New_York /etc/localtime
  01_restart_http:
    command: sudo service httpd restart
