##
# AWS elasticbeanstalk example to change the timezone of the HTTPD server.
# This example changes the HTTP conf file, then restarts the HTTPD server.
##

container_commands:
  change_timezone_of_httpd:
    command: sed -i '/DATE_TIMEZONE/ s/UTC/America\/New_York/' /etc/httpd/conf.d/aws_env.conf
commands:
  restart_http:
    command: sudo service httpd restart
