##
# AWS elasticbeanstalk example to change the timezone of the system.
# This example changes the system time i.e. clock and localtime.
#
# ## Result ##
#
# The system clock time zone is set to New York,
# and the hardware clock continues to use UTC:
#
#     $ cat /etc/sysconfig/clock
#     ZONE="America\/New_York"
#     UTC=true
#
# The localtime is set to New York:
#
#     $ zdump /etc/localtime
#     /etc/localtime  Sun Jan  1 00:00:00 2018 America/New_York
##

container_commands:
  change_timezone_of_clock:
    command: sudo sed -i 's/^ZONE=".*"/ZONE="America\/New_York"' /etc/sysconfig/clock
commands:
  change_timezone_of_localtime:
    command: sudo ln -sf /usr/share/zoneinfo/America/New_York /etc/localtime
